h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    padding-bottom: 30px;
    font-style: italic;
}

h5 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}

.center {
    align-content: center;
    border: solid 7px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

input {
    border: solid 2px;
    margin-right: 50px;
    margin: 10px;
    outline: none;
}

div {
    margin-top: 5px;
}

.form:hover {
    font-size: x-large;
}

form {
    margin-bottom: 500px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}

button {
    border: solid 2px;
    background-color: silver;
    border-radius: 50px;
    margin-right: 10px;
}

img {
    border-radius: 75px;
}

footer {
    margin-bottom: 0px;
}